/* style.css */

@font-face {
    font-family: "Cinzel";
    src: url('fonts/Cinzel-VariableFont_wght.ttf') format("truetype");
}

* {
    /* border: 1px dashed #ff0000; */
    margin: 0px;
    padding: 0px;
    font-family: "Cinzel";
}

body {
    height: 100vh;
    display: flex;
    flex-flow: column;

}

/* TOP OF PAGE */

.header-container {
   /* Reconfigure this first if necessary!!! */
   display: flex;
   background-color: #000000;

   justify-content: space-between;
   align-items: center;
   
   padding: 10px 50px;

   gap: 50px;
}

.header-logo {
    font-size: 32px;
    font-weight: 500;
    color: white;

    justify-self: center;
}

.header-links {
    display: flex;
    font-size: 16px;

    gap: 10px;
}

ul {
    display: flex;
    flex-flow: row wrap;

    list-style: none;
}

a {
    text-decoration: none;
    color: #777777;
}

/* MIDDLE OF PAGE  */

/* SECTION 1 */

.section1 {
    background-color: #c6ac03;
    
    display: flex;
    flex-flow: row wrap;

    justify-content: center;
    align-items: center;

    padding: 200px 100px;

    gap: 200px;
}

.section1-left {
    display: flex;
    flex-flow: column wrap;

    gap: 25px
}

.section1-left .main-text {
    font-size: 36px;
    max-width: 300px
}

.section1-left .sub-text {
    font-size: 18px;

    max-width: 500px
}

.signup-button .button{
    background-color: #777777;
    color:#000000;

    padding: 10px 50px
}    

/* Section 1 Right */
.section1-right {
    display: flex;

    align-self: center;
}

.main-img {
    width: 500px;
    max-width: 100%;

}

/* SECTION 2 */

.section2 {
    background-color: #000000;
    color: #fff;

    display: flex;

    flex-flow: column wrap;
    
    align-items: center;
}

/* X */

.info-blocks {
    display: flex;

    flex-flow: row wrap;

    /* justify-content: space-between;
    align-items: space-between;
    align-content: space-between; */
}

.block {
    display: flex;

    flex-flow: column wrap
}

.block-img {
    width: 250px;
    max-width: 100%;

}

.block-text {
    width: 200px;
}
/* BOTTOM OF PAGE */

.footer-container {
   margin-top: auto;
   
}
.copywright{
    display: flex;
    justify-content: center;

    padding: 16px;

    background-color: #c6ac03;
}

button {
    border-radius: 12px;
    padding: 10px;
    font-size: 18px;
    border: none
}