@font-face {
    font-family: "Cinzel";
    src: url('/assets/fonts/Cinzel-VariableFont_wght.ttf') format("truetype");
}

* {
    margin: 0;
    padding: 0;
    font-family: "Cinzel";
}

.timbuktu {
    font-family: 'wingdings'
}